
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
  
    .logo {
      width: 50px;  
    }
  
  }

header #login .icon-img {
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 480%;// ändrar placering på login
  margin-top: 70%;// ändrar placering på login
  width: 50%;
  width: 24px;                
  height: 24px;               
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/login.svg");
}

header #login:hover .icon-img {
  background-image: url("/images/login-hover-yellow.svg");
}

// ändrar placering på login